@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* @extend display-flex; */
display-flex,
.display-flex,
.display-flex-center,
.signup-content {
  display: flex;
  display: -webkit-flex;
}

/* @extend list-type-ulli; */
list-type-ulli {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

p {
  margin-bottom: 0px;
  font-size: 20px;
  color: #000;
}

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #01b4bc;
  font-family: 'Varela Round', sans-serif;
  font-size: 36px;
}

.main {
  background: #fff;
  padding: 100px 0;
}

.clear {
  clear: both;
}

body {
  font-size: 20px;
  line-height: 2;
  color: #000;
  background: #f8f8f8;
  font-weight: 400;
  font-family: 'Varela Round', sans-serif;
  padding: 0;
  margin: 0;
}

a:link {
  color: #5fa55a;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #5fa55a;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #01b4bc;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #5fa55a;
  background-color: transparent;
  text-decoration: none;
}

.container {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  border: 2px solid #01b4bc;
  box-shadow: 15px 15px #01b4bc;
  -moz-box-shadow: 15px 15px #01b4bc;
  -webkit-box-shadow: 15px 15px #01b4bc;
  -o-box-shadow: 15px 15px #01b4bc;
  -ms-box-shadow: 15px 15px #01b4bc;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;

}

.signup {
  width: 900px;
  margin: auto;
  margin-bottom: 50px;
}

.signup-content {
  padding: 75px 0;
}

.signup-form,
.signup-image,
.signin-image {
  width: 50%;
  overflow: hidden;
  text-align: center;
}

.signup-image {
  margin: 0 55px;
  text-align: center;
}

.form-title {
  margin-bottom: 33px;
}

figure {
  margin-bottom: 50px;
  text-align: center;
}

.form-submit {
  display: inline-block;
  background: #5946B2;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}

.form-submit:hover {
  background: #fa5457;
}

#signin {
  width: 900px;
  margin: auto;
  margin-bottom: 50px;
}

.signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
}

.register-form {
  width: 100%;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.form-group:last-child {
  margin-bottom: 0px;
}


input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: 'Varela Round', sans-serif;
  font-size: 25px;
  box-sizing: border-box;
}

input::-webkit-input-placeholder {
  color: #999;
}

input::-moz-placeholder {
  color: #000;
}

input:-ms-input-placeholder {
  color: #999;
}

input:-moz-placeholder {
  color: #999;
}

input:focus {
  border-bottom: 1px solid #222;
}

input:focus::-webkit-input-placeholder {
  color: #222;
}

input:focus::-moz-placeholder {
  color: #222;
}

input:focus:-ms-input-placeholder {
  color: #222;
}

input:focus:-moz-placeholder {
  color: #222;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222;
}

.form-gender {
  all: revert;
  display: inline;
}

.label-gender {
  all: revert;
  display: inline;
  padding: 10px;
}

.signin-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px;
}

.text-danger {
  color: #fa5457;
}

.alert-danger {
  background-color: #fa5457;
  color: #fff;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 10x;
}

.alert-success {
  background-color: #5fa55a;
  color: #fff;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 768px) {

  .signup-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }

  .signup-form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding: 0 30px;
  }

  .signin-image {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -o-order: 2;
    -ms-order: 2;
  }

  .signup-form,
  .signup-image,
  .signin-image {
    width: auto;
    text-align: center;
  }

  .form-button {
    text-align: center;
  }

  .form-title {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */